body {
    background-color: navy;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin-left: 5px;
}

.encabezado, .titulo, .subtitulo{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contenedor-login{
    border: 2px solid gold;
}

.usuario, .password{
    margin: 10px;
}


.usuario-input, .password-input{
    margin-right: 10px;
    font-weight: bold;
}

.ingresar{
    color: white;
}

.navegacion-ingreso{
    color: white;
    text-decoration: none;
}