# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#apikey-firebase
const firebaseConfig = {
  apiKey: "AIzaSyC9jnT6Yrz_9t4ODYREEB7N3dIK-YsOn6o",
  authDomain: "prueba-f7a8f.firebaseapp.com",
  projectId: "prueba-f7a8f",
  storageBucket: "prueba-f7a8f.firebasestorage.app",
  messagingSenderId: "432561130224",
  appId: "1:432561130224:web:abdc0acdfaa586b1241035",
  measurementId: "G-M8VKD7B27V"
};
