body{
    background-color: aquamarine;
    color: red;
}

.titulo{
    display: flex;
    justify-content: center;

}

a{
    color: rgb(100, 29, 29);
    font-weight: bold;
    text-decoration: none;
}

